// Font Family
$font: 'Roboto', sans-serif;


// Colors ---------------
$white: #fff;
$black: #000;
$bg-color: #0F0F0F;
$bg-color-2: #202020;
$theme-color: #373737;
$border-color: #888;
$gradient-color: linear-gradient(180deg, #373737 18.23%, #0F0F0F 100%);



// Responsive Variables
$desktop: 'only screen and (min-width: 1400px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 480px) and (max-width: 767px)';


